#include "keys_ru.h"
#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35 30 31 32>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35>;
            hold-trigger-on-release;
        };

        lt_tap: lt_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_TAP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        lt_hold: lt_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_HOLD";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        switch {
            bindings = <&kp LG(SPACE)>;
            key-positions = <31 34>;
            layers = <0>;
            timeout-ms = <1000>;
        };

        btl {
            bindings = <&mo 6>;
            key-positions = <30 32>;
            layers = <0>;
        };

        btr {
            bindings = <&mo 6>;
            key-positions = <33 35>;
            layers = <0>;
        };

        fs {
            bindings = <&mo 3>;
            key-positions = <30 35>;
            layers = <0>;
        };

        caret {
            bindings = <&kp CARET>;
            key-positions = <4 3>;
            layers = <1>;
        };

        dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <6 5>;
            layers = <1>;
        };

        at {
            bindings = <&kp AT>;
            key-positions = <3 2>;
            layers = <1>;
        };

        excl {
            bindings = <&kp EXCL>;
            key-positions = <2 1>;
            layers = <1>;
        };

        amp {
            bindings = <&kp AMPS>;
            key-positions = <6 7>;
            layers = <1>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <16 17>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            bindings = <
  &hml LCMD Q   &kp W  &kp E  &kp R          &kp T                                                          &kp Y             &kp U            &kp I      &kp O    &hmr RCMD P
  &hml LCTRL A  &kp S  &kp D  &kp F          &kp G                                                          &kp H             &kp J            &kp K      &kp L    &hmr RCTRL SEMI
  &hml LALT Z   &kp X  &kp C  &kp V          &kp B                                                          &kp N             &kp M            &kp COMMA  &kp DOT  &hmr RIGHT_ALT SLASH
                              &lt_tap 2 TAB  &hml LEFT_SHIFT SPACE  &lt_hold 1 RET    &lt_hold 1 BACKSPACE  &hmr RSHFT SPACE  &lt_tap 2 GRAVE
            >;

            display-name = "Base";
        };

        sym_en {
            bindings = <
  &hml LCMD N1       &kp N2     &kp N3        &kp N4     &kp N5                              &kp N6       &kp N7     &kp N8    &kp N9         &hmr RCMD N0
  &hml LCTRL EQUAL   &kp SLASH  &kp ASTERISK  &kp MINUS  &kp PLUS                            &kp PERCENT  &kp UNDER  &kp HASH  &kp BACKSLASH  &hmr RCTRL LBKT
  &hml LEFT_ALT DQT  &kp LT     &kp LBRC      &kp LBKT   &kp LPAR                            &kp RPAR     &kp RBKT   &kp RBRC  &kp GT         &hmr RIGHT_ALT SQT
                                              &kp TAB    &trans    &kp RET    &kp BACKSPACE  &trans       &kp TILDE
            >;

            display-name = "Symbols";
        };

        nav {
            bindings = <
  &kp LCMD                   &mkp RCLK       &mmv MOVE_UP    &mkp LCLK        &mkp MCLK                     &kp C_MUTE  &kp C_VOL_DN    &kp C_VOLUME_UP  &kp C_BRI_DN  &hmr RCMD C_BRI_UP
  &hml LCTRL ESCAPE          &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none                         &kp LEFT    &kp DOWN_ARROW  &kp UP_ARROW     &kp RIGHT     &hmr RCTRL CAPSLOCK
  &hml LEFT_ALT PRINTSCREEN  &none           &msc SCRL_DOWN  &msc SCRL_UP     &none                         &kp HOME    &kp PG_DN       &kp PG_UP        &kp END       &hmr RIGHT_ALT RC(PRINTSCREEN)
                                                             &trans           &trans     &trans    &kp DEL  &trans      &trans
            >;

            display-name = "Navigation";
        };

        fs {
            display-name = "Navigation";
            bindings = <
  &kp LA(LC(DELETE))  &kp F1  &kp F2   &kp F3   &kp F4                     &none   &none   &none  &none  &kp RCMD
  &kp LCTRL           &kp F5  &kp F6   &kp F7   &kp F8                     &none   &none   &none  &none  &kp RCTRL
  &kp LALT            &kp F9  &kp F10  &kp F11  &kp F12                    &none   &none   &none  &none  &kp RIGHT_ALT
                                       &trans   &trans   &trans    &trans  &trans  &trans
            >;
        };

        gaming {
            bindings = <
  &kp CAPS   &kp Q  &kp W  &kp E     &kp R                                  &kp T    &kp Y   &kp U  &kp I  &kp O
  &kp LSHFT  &kp A  &kp S  &kp D     &kp F                                  &kp G    &kp H   &kp J  &kp K  &kp L
  &kp LCTRL  &kp Z  &kp X  &kp C     &kp V                                  &kp B    &kp N   &kp M  &kp P  &trans
                           &kp LALT  &kp SPACE  &lt_hold 5 RET    &kp BSPC  &kp TAB  &trans
            >;
        };

        num_gaming {
            bindings = <
  &kp ESC  &kp N1  &kp N2  &kp N3  &kp N4                    &trans  &trans  &trans  &trans  &trans
  &kp F5   &kp N5  &kp N6  &kp N7  &kp N8                    &trans  &trans  &trans  &trans  &trans
  &kp F8   &kp M   &kp I   &kp N9  &kp N0                    &trans  &trans  &trans  &trans  &trans
                           &to 0   &trans  &trans    &trans  &trans  &to 0
            >;
        };

        adj {
            bindings = <
  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0
  &none         &none         &none         &bt BT_CLR    &out OUT_BLE                    &out OUT_BLE  &bt BT_CLR    &none         &none         &none
  &bootloader   &none         &none         &none         &out OUT_USB                    &out OUT_USB  &none         &none         &none         &studio_unlock
                                            &trans        &to 4         &trans    &trans  &to 4         &trans
            >;

            display-name = "Adjust";
        };
    };
};
